# Source Sklearn dataset

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

from sklearn.datasets import load_iris
from sklearn.ensemble import RandomForestClassifier


rfc = RandomForestClassifier(random_state = 1)

In [2]:
data = load_iris()

In [3]:
# convert data into dataframe

irisData = pd.DataFrame(data.data , columns = data.feature_names)

In [4]:
irisData.head(5)

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [5]:
irisData["target"] = data.target

In [6]:
irisData.head(5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [7]:
irisData.tail(5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [8]:
irisData.target.value_counts()

target
0    50
1    50
2    50
Name: count, dtype: int64

* 0 Setosa
* 1 Versicolour
* 2 Virginica

In [9]:
irisData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   target             150 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 6.0 KB

In [10]:
irisData.isna().sum()

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
target               0
dtype: int64

In [11]:
irisData.shape

(150, 5)

In [12]:
irisData.size

750

In [13]:
# Saving irisData into my system storage
irisData.to_csv("IrisData.csv")

In [14]:
x = irisData.drop("target",axis = 1)
y = irisData["target"]

In [15]:
from sklearn.model_selection import train_test_split

train_x,val_x,train_y,val_y = train_test_split(x,y,random_state = 1)

rfc.fit(train_x,train_y)

rfc.score(val_x,val_y)

0.9736842105263158

In [16]:
from sklearn.metrics import mean_absolute_error


def getMae(maxleaf, train_x,val_x,train_y,val_y):
    rfc = RandomForestClassifier(max_leaf_nodes = maxleaf,random_state = 1)
    rfc.fit(train_x,train_y)
    predictedVal = rfc.predict(val_x)
    print(rfc.score(val_x,val_y) , mean_absolute_error(predictedVal,val_y) , maxleaf)

In [17]:
nodeValues = [50,100,200,300,400,500]

for i in nodeValues:
    getMae(i,train_x,val_x,train_y,val_y)

0.9736842105263158 0.02631578947368421 50
0.9736842105263158 0.02631578947368421 100
0.9736842105263158 0.02631578947368421 200
0.9736842105263158 0.02631578947368421 300
0.9736842105263158 0.02631578947368421 400
0.9736842105263158 0.02631578947368421 500

In [18]:
# hence the full most predicted value using Random Forest Classifier is = 0.97 too close to the predicted valuesðŸ˜Š