# Process to make a model
* 1 import the data 

### First import the iris dataset from sklearn

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

from sklearn.datasets import load_iris
from sklearn.ensemble import RandomForestClassifier


rfc = RandomForestClassifier(random_state = 1)

In [7]:
data = load_iris()

In [10]:
# convert data into dataframe

irisData = pd.DataFrame(data.data , columns = data.feature_names)

In [11]:
irisData.head(5)

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [14]:
irisData["target"] = data.target

In [15]:
irisData.head(5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [16]:
irisData.tail(5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [17]:
irisData.target.value_counts()

target
0    50
1    50
2    50
Name: count, dtype: int64

* 0 Setosa
* 1 Versicolour
* 2 Virginica

In [20]:
irisData["sepal length (cm)"].value_counts()

sepal length (cm)
5.0    10
6.3     9
5.1     9
6.7     8
5.7     8
6.4     7
5.5     7
5.8     7
4.9     6
6.0     6
5.4     6
5.6     6
6.1     6
6.5     5
4.8     5
7.7     4
6.9     4
4.6     4
5.2     4
6.2     4
4.4     3
7.2     3
5.9     3
6.8     3
4.7     2
6.6     2
4.3     1
7.0     1
5.3     1
4.5     1
7.1     1
7.3     1
7.6     1
7.4     1
7.9     1
Name: count, dtype: int64

In [21]:
irisData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   target             150 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 6.0 KB

In [22]:
irisData.isna().sum()

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
target               0
dtype: int64

In [25]:
irisData.shape

(150, 5)

In [26]:
irisData.size

750

In [35]:
irisCol = (["Blue","Green","Red"])
irisDa = pd.Series(irisCol)
irisDa

0     Blue
1    Green
2      Red
dtype: object

In [36]:
irisData["Colour"] = irisDa

In [37]:
irisData

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,Colour
0,5.1,3.5,1.4,0.2,0,Blue
1,4.9,3.0,1.4,0.2,0,Green
2,4.7,3.2,1.3,0.2,0,Red
3,4.6,3.1,1.5,0.2,0,NaN
4,5.0,3.6,1.4,0.2,0,NaN
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2,NaN
146,6.3,2.5,5.0,1.9,2,NaN
147,6.5,3.0,5.2,2.0,2,NaN
148,6.2,3.4,5.4,2.3,2,NaN
149,5.9,3.0,5.1,1.8,2,NaN

In [38]:
irisData.isna().sum()

sepal length (cm)      0
sepal width (cm)       0
petal length (cm)      0
petal width (cm)       0
target                 0
Colour               147
dtype: int64

In [42]:
irisData.fillna(0, inplace = True)

In [43]:
irisData.isna().sum()

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
target               0
Colour               0
dtype: int64

In [44]:
irisData = irisData.drop("Colour", axis = 1)

In [45]:
irisData.head(5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [46]:
irisData.to_csv("IrisData.csv")

In [ ]:
from sklearn.model_selection import train_test_split

train_x,val_x,train_y,val_y = train_test_split(x,y,random_state = 1)