### Source Kaggle Netflix movies dataset

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
movies = pd.read_csv("netflix_titles.csv")

In [3]:
movies.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [4]:
movies.isna().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [6]:
movies.shape

(8807, 12)

In [11]:
movies.dropna(inplace = True)

In [12]:
movies.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"September 24, 2021",2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...
12,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Germany, Czech Republic","September 23, 2021",2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...
24,s25,Movie,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...",India,"September 21, 2021",1998,TV-14,166 min,"Comedies, International Movies, Romantic Movies",When the father of the man she loves insists t...

In [13]:
movies.shape

(5332, 12)

In [14]:
movies = movies[["title","director","cast","release_year","listed_in","description"]]

In [15]:
movies.head(5)

,title,director,cast,release_year,listed_in,description
7,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...",1993,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
8,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",2021,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
9,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",2021,"Comedies, Dramas",A woman adjusting to life after a loss contend...
12,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...",2021,"Dramas, International Movies",After most of her family is murdered in a terr...
24,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...",1998,"Comedies, International Movies, Romantic Movies",When the father of the man she loves insists t...

In [16]:
movies.isna().sum()

title           0
director        0
cast            0
release_year    0
listed_in       0
description     0
dtype: int64

In [17]:
movies.shape

(5332, 6)

In [19]:
movies.duplicated().sum()

np.int64(0)

In [20]:
movies.iloc[1].listed_in

'British TV Shows, Reality TV'

In [21]:
movies.release_year.value_counts()

release_year
2017    657
2018    648
2016    577
2019    519
2020    442
       ...
1945      1
1946      1
1942      1
1947      1
1944      1
Name: count, Length: 72, dtype: int64

In [23]:
movies.loc[7].listed_in

'Dramas, Independent Movies, International Movies'

In [24]:
movies.iloc[0].listed_in

'Dramas, Independent Movies, International Movies'

In [26]:
movies["description"][7]

'On a photo shoot in Ghana, an American model slips back in time, becomes enslaved on a plantation and bears witness to the agony of her ancestral past.'

In [28]:
movies["cast"][7]

'Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra Duah, Nick Medley, Mutabaruka, Afemo Omilami, Reggie Carter, Mzuri'

In [29]:
movies.head(2)

,title,director,cast,release_year,listed_in,description
7,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...",1993,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
8,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",2021,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...

In [38]:
def castNames(movies):
    name = []
    for i in movies["cast"]:
        name.append(movies["cast"[i]])
    return name

In [39]:
castNames(movies)

TypeError: string indices must be integers, not 'str'

In [40]:
color = pd.Series(["Red","Blue","Green","Yellow"])
color

0       Red
1      Blue
2     Green
3    Yellow
dtype: object

In [41]:
for i in color:
    print(i)

Red
Blue
Green
Yellow

In [42]:
type(movies["cast"])

pandas.core.series.Series

In [45]:
for i in movies["cast"].iloc[0]:
    movies["cast"].apply()

K
o
f
i

G
h
a
n
a
b
a
,

O
y
a
f
u
n
m
i
k
e

O
g
u
n
l
a
n
o
,

A
l
e
x
a
n
d
r
a

D
u
a
h
,

N
i
c
k

M
e
d
l
e
y
,

M
u
t
a
b
a
r
u
k
a
,

A
f
e
m
o

O
m
i
l
a
m
i
,

R
e
g
g
i
e

C
a
r
t
e
r
,

M
z
u
r
i