In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
movies = pd.read_csv("netflix_titles.csv")
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [3]:
movies.isna().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [4]:
movies.dropna(inplace = True)

In [5]:
movies.isna().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [6]:
movies.shape

(5332, 12)

In [7]:
movies.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"September 24, 2021",2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...
12,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Germany, Czech Republic","September 23, 2021",2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...
24,s25,Movie,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...",India,"September 21, 2021",1998,TV-14,166 min,"Comedies, International Movies, Romantic Movies",When the father of the man she loves insists t...

In [8]:
new_list = ["title","director","cast","listed_in","description"]
movies = movies[new_list]
movies.head(5)

,title,director,cast,listed_in,description
7,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
8,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...","British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
9,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...","Comedies, Dramas",A woman adjusting to life after a loss contend...
12,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Dramas, International Movies",After most of her family is murdered in a terr...
24,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...","Comedies, International Movies, Romantic Movies",When the father of the man she loves insists t...

In [9]:
movies.to_csv("movies.csv")

In [10]:
movies = pd.read_csv("movies.csv")
movies.head(5)

,Unnamed: 0,title,director,cast,listed_in,description
0,7,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
1,8,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...","British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
2,9,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...","Comedies, Dramas",A woman adjusting to life after a loss contend...
3,12,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Dramas, International Movies",After most of her family is murdered in a terr...
4,24,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...","Comedies, International Movies, Romantic Movies",When the father of the man she loves insists t...

In [11]:
new_list = ["title","director","cast","listed_in","description"]
movies = movies[new_list]
movies.head(5)

,title,director,cast,listed_in,description
0,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
1,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...","British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
2,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...","Comedies, Dramas",A woman adjusting to life after a loss contend...
3,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Dramas, International Movies",After most of her family is murdered in a terr...
4,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...","Comedies, International Movies, Romantic Movies",When the father of the man she loves insists t...

In [12]:
movies["information"] = movies["director"] + movies["cast"] + movies["listed_in"] + movies["description"]
movies.head(5)

,title,director,cast,listed_in,description,information
0,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s...","Haile GerimaKofi Ghanaba, Oyafunmike Ogunlano,..."
1,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...","British TV Shows, Reality TV",A talented batch of amateur bakers face off in...,"Andy DevonshireMel Giedroyc, Sue Perkins, Mary..."
2,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...","Comedies, Dramas",A woman adjusting to life after a loss contend...,"Theodore MelfiMelissa McCarthy, Chris O'Dowd, ..."
3,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Dramas, International Movies",After most of her family is murdered in a terr...,"Christian SchwochowLuna Wedler, Jannis Niewöhn..."
4,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...","Comedies, International Movies, Romantic Movies",When the father of the man she loves insists t...,"S. ShankarPrashanth, Aishwarya Rai Bachchan, S..."

In [13]:
new_list = ["director","cast","listed_in","description"]
movies.drop(new_list,axis = 1, inplace = True)
movies.head(5)

,title,information
0,Sankofa,"Haile GerimaKofi Ghanaba, Oyafunmike Ogunlano,..."
1,The Great British Baking Show,"Andy DevonshireMel Giedroyc, Sue Perkins, Mary..."
2,The Starling,"Theodore MelfiMelissa McCarthy, Chris O'Dowd, ..."
3,Je Suis Karl,"Christian SchwochowLuna Wedler, Jannis Niewöhn..."
4,Jeans,"S. ShankarPrashanth, Aishwarya Rai Bachchan, S..."

In [14]:
movies.information = movies.information.str.lower()

In [15]:
movies.head(5)

,title,information
0,Sankofa,"haile gerimakofi ghanaba, oyafunmike ogunlano,..."
1,The Great British Baking Show,"andy devonshiremel giedroyc, sue perkins, mary..."
2,The Starling,"theodore melfimelissa mccarthy, chris o'dowd, ..."
3,Je Suis Karl,"christian schwochowluna wedler, jannis niewöhn..."
4,Jeans,"s. shankarprashanth, aishwarya rai bachchan, s..."

In [16]:
movies.information = movies["information"].apply(lambda x:[i.replace(" ","") for i in x])

In [17]:
movies["information"] = movies.information.apply(lambda x:"".join(x))

In [18]:
movies.head(5)

,title,information
0,Sankofa,"hailegerimakofighanaba,oyafunmikeogunlano,alex..."
1,The Great British Baking Show,"andydevonshiremelgiedroyc,sueperkins,maryberry..."
2,The Starling,"theodoremelfimelissamccarthy,chriso'dowd,kevin..."
3,Je Suis Karl,"christianschwochowlunawedler,jannisniewöhner,m..."
4,Jeans,"s.shankarprashanth,aishwaryaraibachchan,srilak..."

In [19]:
movies.information.iloc[0]

'hailegerimakofighanaba,oyafunmikeogunlano,alexandraduah,nickmedley,mutabaruka,afemoomilami,reggiecarter,mzuridramas,independentmovies,internationalmoviesonaphotoshootinghana,anamericanmodelslipsbackintime,becomesenslavedonaplantationandbearswitnesstotheagonyofherancestralpast.'

In [26]:
import nltk
from nltk.stem import PorterStemmer
ps = PorterStemmer()

In [28]:
def stemming(text):
    words = []
    for i in text.split():
        words.append(ps.stem(i))
    return " ".join(words)

In [30]:
movies.information = movies.information.apply(stemming)

In [31]:
movies.head(5)

,title,information
0,Sankofa,"hailegerimakofighanaba,oyafunmikeogunlano,alex..."
1,The Great British Baking Show,"andydevonshiremelgiedroyc,sueperkins,maryberry..."
2,The Starling,"theodoremelfimelissamccarthy,chriso'dowd,kevin..."
3,Je Suis Karl,"christianschwochowlunawedler,jannisniewöhner,m..."
4,Jeans,"s.shankarprashanth,aishwaryaraibachchan,srilak..."

In [35]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 5500, stop_words = "english")

In [37]:
vectors = cv.fit_transform(movies["information"]).toarray()

In [38]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], shape=(5332, 5500))

In [40]:
vectors[0]   # this is our first movie information in array form

array([0, 0, 0, ..., 0, 0, 0], shape=(5500,))

In [41]:
from sklearn.metrics.pairwise import cosine_similarity

In [43]:
similar_movies = cosine_similarity(vectors)

In [60]:
sorted(list(enumerate(similar_movies[0])),reverse = True,key = lambda x: x[1])[1:6]

[(133, np.float64(1.0)),
 (333, np.float64(1.0)),
 (350, np.float64(1.0)),
 (373, np.float64(1.0)),
 (386, np.float64(1.0))]

In [59]:
movies["title"].iloc[333]

'And Then Came Lola'

In [91]:
def recommended(name):
    movie_index = movies[movies["title"] == name].index[0]
    distance = similar_movies[movie_index]
#     movies_list = sorted(list(enumerate(similar_movies[0])), reverse = True, key = lambda x: x[1])[1:6]
    movies_list = sorted(list(enumerate(distance)),reverse = True,key = lambda x: x[1])[1:6]
    
    for i in movies_list:
        print(movies["title"].iloc[i[0]])

In [48]:
movies[movies["title"] == "Sankofa"].index[0]

np.int64(0)

In [92]:
recommended("Sankofa")

The Swarm
And Then Came Lola
Mosquita y Mari
The Day I lost My Shadow
Cinema Bandi

In [76]:
movies.tail(5)

           title                                        information
5327     Zinzana  majidalansarialisuliman,salehbakri,yasa,alial-...
5328      Zodiac  davidfinchermarkruffalo,jakegyllenhaal,robertd...
5329  Zombieland  rubenfleischerjesseeisenberg,woodyharrelson,em...
5330        Zoom  peterhewitttimallen,courteneycox,chevychase,ka...
5331      Zubaan  mozezsinghvickykaushal,sarah-janedias,raaghavc...

In [93]:
recommended("Zombieland")

The Bill Murray Stories: Life Lessons Learned From a Mythical Man
Kate
The Edge of Seventeen
The Stepfather
3 Days to Kill

In [80]:
sorted(list(enumerate(similar_movies[5329])), reverse = True, key = lambda x: x[1])[1:6]

[(4902, np.float64(0.2886751345948129)),
 (28, np.float64(0.20412414523193154)),
 (168, np.float64(0.20412414523193154)),
 (538, np.float64(0.20412414523193154)),
 (803, np.float64(0.20412414523193154))]

In [82]:
movies["title"].iloc[28]

'Kate'